// MAIN PART

.vc-main {
  background-color: $color-brown-dark;

  .vc-plans,
  .vc-faq {
    min-height: 100vh;

    @media (max-height: 850px) {
      min-height: 850px;
    }
  }

  .vc-top-bar-container,
  .vc-presentation-container,
  .vc-stats-container,
  .vc-features-container,
  .vc-plans-container,
  .vc-faq-container,
  .vc-footer-container,
  .vc-terms {
    width: 1200px;

    @media (max-width: 1230px) {
      padding-right: 15px !important;
      padding-left: 15px !important;
      width: 100%;
    }
  }

  .vc-features-container,
  .vc-plans-container,
  .vc-faq-container {
    padding: 14vh 0;
  }
}
