// GENERAL COLORS
$color-grey-light: #f8f9fa;
$color-grey: #979dac;
$color-grey-dark: #6f78a9;
$color-violet-light: #ebebf0;
$color-violet: #4f518c;
$color-violet-dark: #2c2a4a;
$color-blue-light: #adc2ed;//#2c2a4a;
$color-blue-light-extra: #6688e0;
$color-blue: #677db7;
$color-blue-dark: #33478c;
$color-blue-dark-extra: #262261;
$color-yellow-light: #f4d2b0;
$color-yellow: #f4e9cd;
$color-red-light: #fbedff;
$color-red-light-extra: #f1e4e8;
$color-red: #EA154E;
$color-red-dark: #8e0709;
$color-green-light: #ECF7A5;
$color-green-light-extra: #b8dedc;
$color-green-light-transparent: #adcdc7;
$color-green: #77aca2;
$color-green-dark: #128496;
$color-black-light: #4a4e69;
$color-black-light-extra: #14213d;
$color-black: #302A3B;
$color-black-dark: #050505;
$color-brown-light: #f1e8e6;
$color-brown-dark: #543C52;
